.table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.result {
    width: 1300px;
    display: flex;
    flex-direction: column;
}
.st-control {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.control-btn {
    width: 50px;
}
.control-btn:hover {
    text-decoration: none;
}
.delete {
    color: red;
}
td {
    width: 250px;
}
.wrapper {
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
    border: 1px solid #69666631;
    width: 1500px;
}
