body {
    background-color: #f0f0f0;
}
/* 
table {
    border: 1px solid #333;
    width: 100%;
    border-collapse: collapse;
}
thead th {
    border: 1px solid #333;
    padding: 10px;
    background-color: red;
    color: #fff;
}
*/
